.circular-gallery {
  width: 100%;
  height: 100%;   /* desktop stays SAME */
  overflow: hidden;
  cursor: grab;
  margin-top: 60px;
}

.circular-gallery:active {
  cursor: grabbing;
}

/* MOBILE ONLY */
@media (max-width: 768px) {
  .circular-gallery {
    height: 260px !important; /* small mobile size */
    margin-top: 20px;
  }
}
